.modal {
  &__mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    transition: opacity .3s ease;
    cursor: default;
  }
  &__container {
    position: relative;
    width: calc(100% - 60px);
    margin: 60px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: default;
    color: #000;
    @media (min-width: 576px) {
      padding: 40px 60px 30px 60px;
    }
    @media (min-width: 768px) {
      width: 600px;
    }
  }
  &__close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      top: calc(50% - 1px);
      width: 60%;
      right: 20%;
      background-color: #636b6f;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &__header {
    margin-top: 0;
    color: #42b983;
  }
  &__content {
    margin: 20px 0;
  }
  &__footer {
  }
}

