.custom-navbar {
    width: 100%;
    background: #1b1b1c;
    height: 97px;

    .navbar-wrapper {
        max-width: 1165px;
        width: 90%;
        margin: 0 auto;

        .logo {
            float: left;
            margin: 5px 0px 10px 0px;

            img {
                max-width: 100%;
                overflow: hidden;
                height: auto;
            }
        }

        .navbar-content {
            width: 80%;
            float: right;
            display: inline-block;
            padding-top: 38px;
                   
            .menu {
                display: none;
            }

            .auth-btn {
                display: inline-block;
                font-size: 17px;
                line-height: 17px;
                color: #fff;
                position: relative;
                float: right;
                cursor: pointer;
                transition: all ease-in-out .5s;
                -moz-transition: all ease-in-out .5s;
                -ms-transition: all ease-in-out .5s;
                -o-transition: all ease-in-out .5s;
                -webkit-transition: all ease-in-out .5s;

                &:hover {
                    color: #ffe600;
                }

                .dropdown-menu {
                    background: #ffe600;
                    border-radius: unset;
                    padding: 0;
                    min-width: 6rem;

                    .dropdown-item {
                        padding: 0.7rem 0.5rem;

                        &:active {
                            color: #212529;
                            background-color: #f8f9fa;
                        }
                    }
                    .dropdown-item:not(:last-child) {
                        border-bottom: 1px solid #ffffff;
                    }
                }

                .auth-list {
                    width: 100px;
                    display: none;
                    float: left;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    z-index: 1;
                    padding-top: 15px;

                    & li {
                        width: 100%;
                        float: left;

                        & a {
                            width: 100%;
                            float: left;
                            padding: 10px;
                            background: #ffe600;
                            color: #000;
                            font-size: 16px;
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }

            .navigation {
                width: 95%;
                float: left;
                display: inline-block;

                & li {
                    width: 11.11%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                }

                & li:nth-child(1),
                & li:nth-child(4), 
                & li:nth-child(7) {
                    width: 8.11%;
                }

                & li:nth-child(3), 
                & li:nth-child(6) {
                    width: 9.11%;
                }

                & li:nth-child(5) {
                    width: 19.11%;
                }

                & li:nth-child(8) {
                    width: 10.11%;
                }

                & li:nth-child(9) {
                    width: 17.11%;
                }

                & li a {
                    width: 100%;
                    display: inline-block;
                    font-family: 'DINCond-Bold';
                    font-size: 17px;
                    color: #fff;
                    position: relative;
                }

                & li a:hover {
                    color: #ecff2f;
                }

                & li a:after {
                    content: '\f0c8';
                    font-size: 10px;
                    color: #ffe600;
                    display: inline-block;
                    font-family: 'FontAwesome';
                    margin-left: 10px;
                    position: relative;
                    top: -2px;
                }

                & li:nth-child(9) a:after {
                    content: '' !important;
                }
            }
        }
    }
}


@media only screen and (min-width: 961px) and (max-width: 1200px){
    .custom-navbar {
        .navbar-wrapper {
            .logo {
                width:100px;
            }

            .navbar-content {
                width:85%;
                padding-top: 27px;            
            }

            .navbar-content {
                .navigation {
                    li {
                        a {
                            font-size:14px;

                            &:after {
                                top: -1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 100px) and (max-width: 960px) {
    .custom-navbar {
        position:relative;

        .navbar-wrapper {
            .logo {
                margin: 5px 0px 5px 0px;
                width: 115px;
            }

            .navbar-content {
                width:110px;
                padding-top: 30px;

                .menu {
                    display:block;
                    float:right;
                    color:#fff;
                    font-size:18px;
                    cursor:pointer;
                    font-weight:bold;
                }

                .auth-btn {
                    padding-top: 4px;
                    float:left;
                }
                .navigation {
                    width:100%;
                    position:absolute;
                    top:100%;
                    left:0;
                    z-index:9;
                    display:none;

                    li, li:nth-child(1), li:nth-child(3), li:nth-child(4),
                    li:nth-child(5), li:nth-child(6), li:nth-child(7),
                    li:nth-child(8), li:nth-child(9) {
                        width:100%;
                    }

                    li {
                        a {
                            background:#ecff2f;
                            padding:10px 0px;
                            color:#1b1b1c;
                            border-bottom:1px solid #1b1b1c;

                            &:hover {
                                background:#1b1b1c;
                                color:#ecff2f;
                            }

                            &:after {
                                display:none;
                            }
                        }
                    }
                }
            }
        }
    }
}
