.main-slider {
    width: 100%;
    display: inline-block;
    position: relative;

    .index-banner {
        width: 100%;
        display: inline-block;
        padding: 225px 0px 310px 0px;
        background-size:cover !important;
        position: relative;

        .wrapper {
            max-width: 1200px;
            width: 90%;
            margin: 0 auto;

            .banner-text {
                width: 100%;
                display: inline-block;
                color: #000000;
                font-size: 50px;
                text-align: center;
                line-height: 55px;
                padding: 0px 240px;
                margin-bottom: 15px;
            }

            .banner-btn {
                width: 200px;
                display: block;
                margin: 0 auto;
                text-align: center;
                background: #000000;
                border: 1px solid #000000;
                color: #e4ff15;
                font-size: 20px;
                font-family: 'DINCond-Medium';
                padding: 15px 0px;
                text-transform: uppercase;
                line-height: 20px;

                &:hover {
                    border: 1px solid #000000;
                    background: #e4ff15;
                    color: #000000;
                }
            }
        }
    }

    .slider {
        .flexslider {
            position: relative;
            overflow: visible;
            
            .slider-menu {
                position: absolute;
                z-index: 100;
                width: 100%;
                bottom: 0;
                background: rgba(0, 0, 0, 0.8);
                border-top: 1px solid #68686c;                

                .list-menu {
                    max-width: 1165px;
                    width: 90%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0px;
                    color: #b4b4ba;
                    font-size: 20px;

                    .item-menu {
                        &.yellow {
                            a {
                                color: #dcff45;

                                &:hover {
                                    color: #e8ff81;
                                }
                            }
                        }

                        a {
                            font-family: BarlowSemiCondensedRegular;
                            text-transform: uppercase;
                            color: #b4b4ba;

                            &:hover {
                                color: #e0e0e0;
                            }
                        }
                        
                        
                    }

                    .separator-menu {
                        margin: 0px 20px;
                        height: 5px;
                        width: 5px;
                        background: #ffffff;
                    }
                }
            }

            .slider-carousel-menu {
                position: absolute;
                bottom: 7%;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;

                .carousel-card {
                    .carousel-wrapper {
                        border: 2px solid white;
                        border-radius: 3px;
                        opacity: .5;
                        cursor: pointer;
                        transition: all .5s;
                        position: relative;
                        
                        &:hover {
                            opacity: 1;
                            
                            .play-btn {
                                background: #e3ff14;
                            }
                        }

                        .play-btn {
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            margin: auto;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            background: #ffffffde;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            padding-left: 5px;
                            font-size: 24px;
                            color: #000000;
                            transition: all ease-in-out .5s;
                            cursor: pointer;
                            box-shadow: -1px 0px 12px rgba(255, 255, 255, 0.4);
    
                            &:hover {
                                background: #a2b60b;
                            }
                        }
                    }
                }
            }
        }
    }

    .flex-control-nav {
        margin-top: 0px;
        position: absolute;
        bottom: 80px;
        left: 0px;
    }

    .flex-control-paging li a {
        background: #fff;
        border: none;
        box-shadow: none;
        display: inline-block;
        vertical-align: middle;
        
        &.flex-active {
            background: #fff;            
            width: 15px;
            height: 15px;
            border: none;
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 980px) {
    .main-slider .slider .flexslider .slider-menu .list-menu {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 961px) {
    .main-slider {
        .index-banner {
            .wrapper {
                .banner-text {
                    padding: 0px 150px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 980px) and (min-width: 768px) {
    .main-slider .slider .flexslider .slider-menu .list-menu {
        font-size: 13px;

        .separator-menu {
            margin: 0px 10px;
        }
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
    .main-slider {
        .index-banner {
            padding: 160px 0px 190px 0px;

            .wrapper {
                .banner-text {
                    padding: 0px 50px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-slider .slider .flexslider .slider-menu .list-menu {
        flex-direction: column;
        padding: 6px 0px;
        font-size: 15px;
    }
}


@media only screen and (max-width: 767px) and (min-width: 100px) {
    .main-slider {
        .index-banner {
            padding: 100px 0px 130px 0px;

            .wrapper {
                .banner-text {
                    padding: 0px !important;
                    font-size: 36px;
                    line-height: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) and (min-width: 100px) {
    .main-slider {
        .index-banner {
            .wrapper {
                .banner-text {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
}