.become-btn {
    display: inline-block;
    float: left;
    text-align: center;
    background: #000000;
    border: 1px solid #000000;
    color: #e4ff15;
    font-family: 'DINCond-Medium';
    padding: 10px 0px;
    text-transform: uppercase;
    line-height: 20px;

    &:hover {
        border: 1px solid #000000;
        background: #e4ff15;
        color: #000000;
    }
}

.advertise-cards {
    max-width: 1165px;
    margin: 0 auto;

    .advertise-title {
        font-family: BarlowBold;
        font-size: 42px;
    }

    .advertise-card {
        .advertise-wrapper {
            &.event-list-main-wrapper {
                height: 100%;

                .sub-info-card {
                    height: 74.2%;

                    .sub-info-wrapper {
                        height: 100%;
                        border-bottom: 1px solid #ededed;
                    }

                    .info-box:last-child {
                        border-bottom: unset;
                    }
                }
            }

            .sub-img-card {
                .sub-img-wrapper {
                    &.event-list-wrapper {
                        .image-header {
                            height: auto;
                        }
                    }

                    .image-header {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background: #f7f7f7;
                        padding: 38px 0px;
                        height: 213px;
                        position: relative;
                        overflow: hidden;

                        img {
                            height: auto;
                            width: auto;
                        }

                        .sub-img-title {
                            font-family: BarlowCondensedSemiBold;
                            font-size: 25px;
                            color: #5c5c5c;
                            text-transform: uppercase;
                        }

                        .sub-img-period {
                            font-family: BarlowExtraLight;
                            font-size: 23px;
                            color: #5c5c5c;
                            text-align: center;
                        }

                        .sub-img-recomend {
                            position: absolute;
                            transform: rotate(-40deg);
                            left: -41px;
                            top: 18px;
                            font-family: BarlowLight;
                            font-size: 16px;
                            color: #e4ff13;
                            text-align: center;
                            background: #000000;
                            padding: 12px 39px;
                        }
                    }

                    .content {
                        box-shadow: 0px 0px 10px rgba(1, 1, 1, .2); 
                        height: 145px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                                               
                        .sub-img-price {
                            color: #bfd518;
                            font-size: 45px;
                            font-weight: bold;
                            font-family: serif;
                        }
                        
                        .sub-img-btn {
                            font-family: BarlowRegular;
                            font-size: 20px;
                            color: #e4ff13;
                            background: #000000;
                            padding: 14px 56px;

                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            .sub-info-card {
                .sub-info-wrapper {
                    border-top: 1px solid #ededed;
                    border-right: 1px solid #ededed;
                    border-left: 1px solid #ededed;                    

                    .info-box {
                        font-family: BarlowLight;
                        font-size: 15px;
                        border-bottom: 1px solid #ededed;     
                        padding: 1px 16px;
                        min-height: 68px;
                        color: #6e6e6e;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.modal {
    background: rgba(0, 0, 0, 0.85);
    &.show {
        .advertise-modal {
            transform: translate(0, 25%);
            margin: auto auto;
            width: 1010px;
            height: 514px;
            max-width: 1010px;     

            .modal-content {
                width: 1010px;
                height: 514px;
                max-width: 1010px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0px 30px;       

                .close-btn {
                    background: url('/assets/img/advertise/close.png');
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: white;
                    width: 40px;
                    position: absolute;
                    height: 40px;
                    right: -20px;
                    top: -20px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px rgba(1, 1, 1, .4);
                    cursor: pointer;
                    transition: all .5s;

                    &:hover {
                        box-shadow: inset 0px 0px 10px rgba(1, 1, 1, .4);
                    }
                }

                .modal-card {
                    border: 8px solid #bababa;
                    padding: 0;

                    a {
                        width: 100%;
                        height: 100%;

                        .modal-text {
                            position: absolute;
                            font-family: BarlowSemiCondensedSemiBold;
                            font-size: 42.16px;
                            color: #fffc00;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    
                }
            }
        }
    }
}

.advertise-slider {
    font-family: BarlowBold !important;
    font-size: 58px !important;
    color: #fffc00 !important;
    box-shadow: unset !important;
}


.become-user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 33px 0px;
    background: #edf0f7;
    margin-top: -6px;

    .join-btn {
        padding: 14px 96px;
        font-family: BarlowMedium;
        font-size: 35px;
        color: #ecff2d;
        background: #000000;
        border-radius: 5px;

        &:hover {
            color: #ffffff;
        }
    }

    .become-blocks {
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
        
        .become-cards {
            .become-card {
                .become-wrapper {
                    .become-header {
                        background: #f7f7f7;
                        width: 100%;
                        margin: 0;
                        height: 95px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .header-text {
                            font-family: MyriadProRegular;
                            font-size: 35px;
                            color: #5c5c5c;
                        }

                        .header-additional-text {
                            font-family: BarlowRegular;
                            font-size: 20px;
                            color: #5c5c5c;
                        }
                    }

                    .become-footer {
                        box-shadow: 0px 4px 5px rgba(1, 1, 1, .2);
                        background: #ffffff;
                        width: 100%;
                        margin: 0;
                        height: 72px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .footer-text {
                            font-weight: bold;
                            font-family: serif;
                            font-size: 45px;
                            color: #bfd518;
                        }
                    }
                }
            }
        }
    }
}

.become-user-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .b-title {
        font-family: MyriadProRegular;
        font-size: 23px;
        color: #444444;
    }

    .b-list {
        list-style: none;
        li {
            font-family: BarlowRegular;
            font-size: 23px;
            color: #444444;
            margin-bottom: 6px;

            .b-star {
                display: inline-block;
                background: url('/assets/img/advertise/star.png');
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                height: 16px;
                width: 17px;
                margin-right: 15px;
            }
        }
    }
}

.form-msg {
    max-width: 1165px;
    font-family: BarlowRegular;
    font-size: 20px;
    color: #6b6b6b;
    text-align: center;
    margin: 0 auto;
}

.business-form {
    max-width: 1000px;
    margin: 0 auto;

    .form-title {
        font-family: BarlowRegular;
        font-size: 27px;
        color: #000000;
    }

    .help-msg {
        font-family: BarlowItalic;
        font-size: 14px;
        width: 100%;
        text-align: right;
    }
    
    .form-field {
        label {
            font-family: BarlowRegular;
            font-size: 17px;
            color: #6b6b6b;
            display: block;

            &.check-label {
                display: inline-block;
                margin-left: 7px;
            }
        }
        
        .text-input {
            font-family: BarlowRegular;            
            height: 60px;
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            width: 100%;
            padding: 0px 10px;
        }

        .date-input {
            font-family: BarlowItalic;
            background: url('/assets/img/advertise/calendar.png');
            background-repeat: no-repeat;
            background-position: right;
            background-position-x: 94%;
            cursor: pointer;
        }
    }

    .form-submit {
        justify-content: center;
        align-items: center;
        display: flex;

        .form-submit-btn {
            font-family: BarlowRegular;
            font-size: 18px;
            color: #ecff2d;
            background: #000000;
            padding: 17px 40px;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

.list-cards {
    max-width: 1165px;
    margin: 0 auto;

    .list-title {
        font-family: MyriadProRegular;
        color: #6b6b6b;
        font-size: 37.5px;
    }

    .list-additional-title {
        font-family: BarlowRegular;
        color: #6b6b6b;
        font-size: 18px;
    }

    .list-card {
        .list-wrapper {
            background: #f0f0f0;
            transition: all .5s;
            //cursor: pointer;
            padding-bottom: 1px;

            &:hover {
                background: #000000;

                .image-header {
                    &:after {
                        opacity: 1;
                    }

                    .default {
                        display: none;
                    }

                    .hover {
                        display: block;
                    }

                    .list-title {
                        color: #d5e918;
                    }
                }

                .content {
                    background: #f0f0f0;
                    .list-box {
                        &.border-bt {
                            border-bottom: 1px solid #ffffff;
                        }
                    }
                }
            }

            .image-header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 180px;
                position: relative;

                &:after {
                    content: "";
                    width: 1px;
                    height: 13px;
                    position: absolute;
                    background: black;
                    bottom: -13px;
                    border-right: 10px solid #f0f0f0;
                    border-left: 10px solid #f0f0f0;
                    border-top: 12px solid black;
                    opacity: 0;
                }

                img {
                    height: auto;
                    width: auto;
                }

                .default {
                    display: block;
                }

                .hover {
                    display: none;
                }

                .list-title {
                    font-family: BarlowRegular;
                    font-size: 21px;
                    color: #000000;
                }
            }

            .content {
                height: 805px;
                background: #ffffff;
                border-radius: 15px;
                margin-left: 11px;
                margin-right: 11px;
                margin-bottom: 11px;
                overflow: hidden;
                .list-box {
                    cursor: pointer;
                    font-family: BarlowLight;
                    font-size: 15px;
                    color: #666666;
                    min-height: 53px;
                    text-align: center;
                    padding: 2px 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background: #ffffff;
                    }

                    &.border-bt {
                        border-bottom: 1px solid #f0f0f0;
                    }
                }
            }
        }
    }
}

.adv-sell-btn {
    font-family: BarlowMedium;
    font-size: 35px;
    color: #ecff2d;
    padding: 15px 62px;
    width: 40%;
    background: #000000;
    border-radius: 4px;

    &:hover {
        color: #ffffff;
    }
}

.sell-header {
    max-width: 1165px;
    margin: 0 auto;

    .sell-title {
        font-family: BarlowRegular;
        font-size: 20px;
        color: #5c5c5c;
        text-align: center;
    }

    .sell-desc {
        .desc-title {
            font-family: BarlowSemiBold;
            font-size: 35px;
            color: #262626;
            text-align: center;
        }

        .sell-card {
            .sell-wrapper {
                .sell-image {
                    img {
                        width: auto;
                    }
                }

                .content {
                    .card-title {
                        font-family: BarlowSemiBold;
                        font-size: 26px;
                        color: #444444;
                    }

                    .card-text {
                        font-family: BarlowRegular;
                        font-size: 17px;
                        color: #5c5c5c;
                    }
                }
            }
        }
    }
}

.sell-listing-s {
    background: #edf0f7;
    width: 100%;
    padding: 45px 0px;

    .listing-content {
        max-width: 1125px;
        margin: 0 auto;

        .listing-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .listing-fee {
                width: 30%;

                .listing-fee-text {
                    background: #f7f7f7;
                    font-family: BarlowCondensedSemiBold;
                    font-size: 35px;
                    color: #5c5c5c;
                    width: 100%;
                    margin: 0;
                    height: 95px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .listing-fee-price {
                    box-shadow: 0px 4px 5px rgba(1, 1, 1, .2);
                    background: #ffffff;
                    font-weight: bold;
                    font-family: serif;
                    font-size: 45px;
                    color: #bfd518;
                    width: 100%;
                    margin: 0;
                    height: 72px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .listing-fee-new-text {
                    box-shadow: 0px 4px 5px rgba(1, 1, 1, .2);
                    background: #ffffff;
                    font-weight: bold;
                    font-family: serif;
                    font-size: 45px;
                    color: #bfd518;
                    width: 100%;
                    margin: 0;
                    height: 72px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .listing-text {
                font-family: BarlowRegular;
                font-size: 20px;
                color: #5c5c5c;
                width: 40%;
                padding: 0px 42px;
            }

            .listing-boxes {
                width: 30%;

                .listing-box {
                    font-family: BarlowCondensedSemiBold;
                    color: #5c5c5c;
                    background: #f7f7f7;
                    width: 100%;
                    text-align: center;
                    padding: 14px 0px;
                    text-transform: uppercase;

                    h2 {
                        margin-bottom: 4px;
                    }

                    .percent {
                        font-size: 28px;
                    }

                    .box-text {
                        font-size: 20px;
                    }
                }
            }
        }

        .listing-additional {
            font-family: BarlowRegular;
            font-size: 16px;
            color: #5c5c5c;
            text-align: center;
        }
    }
}

.sell-main-content {
    max-width: 1165px;
    margin: 0 auto;

    .main-btns-block {
        display: flex;
        justify-content: center;

        .become-block {
            width: 305px;        
            height: 95px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f7f7f7;

            .become-btn {
                width: 100%;
                height: 100%;
                font-size: 2rem;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center
            }
        }

        .data-block {
            width: 305px;        
            height: 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #ffffff;
            box-shadow: 2px 0px 5px rgba(1, 1, 1, .2);
            padding: 12px;

            .data-title {
                font-family: BarlowCondensedSemiBold;
                text-transform: uppercase;
                font-size: 35px;
                color: #5c5c5c;
                margin-bottom: 0;

                .price {
                    font-weight: bold;
                    font-family: serif;
                    font-size: 40px;
                    color: #bfd518;
                }
            }

            .data-text {
                font-family: BarlowRegular;
                font-size: 16px;
                color: #5c5c5c;
            }
        }
    }

    .featured-block {
        .featured-title {
            font-family: BarlowSemiBold;
            font-size: 35px;
            color: #262626;
        }

        .featured-cards {
            .featured-card {
                .featured-wrapper {
                    .image-header {
                        box-shadow: 0px 0px 10px rgba(1, 1, 1, .2);
                    }

                    .content {
                        text-align: center;

                        .card-title {
                            font-family: BarlowRegular;
                            font-size: 18px;
                            color: #000000;
                            margin-bottom: 4px;
                        }

                        .card-text {
                            font-family: BarlowRegular;
                            font-size: 18px;
                            color: #969696;
                        }
                    }
                }
            }
        }
    }

    .what-sell-block {
        .what-sell-title {
            font-family: BarlowSemiBold;
            font-size: 35px;
            color: #262626;
        }

        .what-sell-cards {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            .what-sell-card {
                padding: 0 20px;
                .what-sell-wrapper {
                    max-width: 180px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    .image-header {
                        border-radius: 50%;
                        overflow: hidden;
                        box-shadow: 0px 0px 10px rgba(1, 1, 1, .2);
                        height: 155px;
                        width: 155px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .content {
                        text-align: center;
                        margin-top: 7px;

                        .card-title {
                            font-family: BarlowRegular;
                            font-size: 20px;
                            color: #000000;
                        }
                    }
                }
            }
            
            .many-more {
                font-family: BarlowRegular;
                font-size: 25px;
                text-align: center;
                color: #5c5c5c;
            }
        }
    }

    .spotlight-block {
        .spotlight-title {
            font-family: BarlowSemiBold;
            font-size: 25px;
            color: #262626;
            text-align: center;
        }

        .spotlight-additional-title {
            font-family: BarlowRegular;
            font-size: 20px;
            color: #666666;
            text-align: center;
        }

        .spotlight-cards {
            .spotlight-card {
                .spotlight-wrapper {
                    box-shadow: 0px 0px 10px rgba(1, 1, 1, .2);
                    padding: 9px;

                    .image-header {
                        img {

                        }
                    }

                    .content {
                        .card-title {
                            font-family: BarlowRegular;
                            font-size: 22px;
                            color: #000000;
                        }
                        
                        .card-text {
                            font-family: BarlowRegular;
                            font-size: 15px;
                            color: #8b8b8b;
                        }
                    }
                }
            }
        }

        .testim-cards {
            .testim-card {
                .testim-wrapper {
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px rgba(1, 1, 1, .2);
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    height: 158px;

                    .image-header {

                        img {
                            width: auto;
                            height: auto;
                        }
                    }

                    .content {
                        padding: 32px 25px;

                        .quote-symbols {
                            font-size: 85px;
                            color: #999999;
                            font-family: sans-serif;
                            position: absolute;
                            top: 0;
                        }

                        .card-text {
                            font-family: BarlowRegular;
                            font-size: 17px;
                            color: #666666;
                        }
                    }
                }
            }
        }
    }
}

.form-check-field  {
    display: flex;
    align-items: baseline;

    input[type="checkbox"] {
        width: 4%;
    }

    label {
        width: 90%;
    }
}

.mb-10 {
    margin-bottom: 100px;
}

.mt-75 {
    margin-top: 75px;
}

@media only screen and (max-width: 767px) { 
    .sell-header {
        .sell-desc {
            .sell-card {
                .sell-wrapper {
                    .content {
                        padding-left: 0px !important;
                    }
                }
            }
        }
    }

    .sell-listing-s .listing-content .listing-header .listing-text {
        font-size: 17px;
        padding: 0px 8px;
    }
}

@media only screen and (max-width: 575px) {  
    .sell-header {
        .sell-desc {
            .sell-card {
                .sell-wrapper {
                    .sell-image {
                        width: 15%;
                    }

                    .content {
                        width: 85%;
                    }
                }
            }
        }
    }

    .sell-listing-s .listing-content .listing-header {
        flex-direction: column;

        .listing-fee {
            width: 90%;
        }

        .listing-text {
            padding: 10px 0px;
            width: 90%;
        }

        .listing-boxes {
            width: 90%;
        }
    }

    .sell-main-content .main-btns-block {
        flex-direction: column;
        align-items: center;
    }

    .adv-sell-btn {
        font-size: 18px;

        &.promote-btn {
            font-size: 14px;
        }
    }
}
