.events-cards {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .events-header {
        display: inline-block;
        width: 100%;

        .filter-btn {
            width: 20%;
            display: inline-block;
            float: left;
        }

        a {
            font-size: 16px;
            display: inline-block;
            float: left;
            background: #000000;
            color: #e3fd1a;
            text-align: center;
            padding: 6.5px 0;
            border-radius: 3px;

            &:hover {
                color: #ffffff;
            }
        }

        .filter-btns {
            width: 32%;
            display: inline-block;
            float: right;
            
            a {
                width: 48%;
            }
        }
    }

    .events-card {
        .events-wrapper {
            box-shadow: 2px 0px 10px rgba(1,1,1,.1);
            padding: 8px;
            position: relative;

            .content {
                left: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    color: #ffffff;
                    font-family: BarlowLight;
                    text-align: center;
                    width: 80%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 961px) {
    .events-cards {
        .events-header {
            .filter-btns {
                width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
    .events-cards {
        .events-header {
            .filter-btn {
                width: 30%;
            }

            .filter-btns {
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 100px) {
    .events-cards {
        .events-header {
            .filter-btn {
                width: 38%;
                font-size: 16px;
            }

            .filter-btns {
                width: 61%;
            }
        }
    }
}

@media only screen and (max-width: 600px) and (min-width: 100px) {
    .events-cards {
        .events-header {
            .filter-btn {
                width: 100%;
                margin-bottom: 5px;
            }

            .filter-btns {
                a {
                    width: 100%;
                    margin-bottom: 5px;
                }
                width: 100%;
            }
        }
    }
}