.events-header {
    display: inline-block;
    width: 100%;

    .filter-btn {
        width: 20%;
        display: inline-block;
        float: left;
    }

    a {
        font-size: 16px;
        display: inline-block;
        float: left;
        background: #000000;
        color: #e3fd1a;
        text-align: center;
        padding: 6.5px 0;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: #ffffff;
        }
    }

    .filter-btns {
        width: 38%;
        display: inline-flex;
        float: right;
        justify-content: flex-end;
        
        a {
            width: 48%;
        }
    }
}

.events-cards {
    max-width: 1165px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .events-card {
        .events-wrapper {
            box-shadow: 2px 0px 10px rgba(1,1,1,.1);
            padding: 8px;
            position: relative;

            .content {
                left: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    color: #ffffff;
                    font-family: BarlowLight;
                    text-align: center;
                    width: 80%;
                }
            }
        }
    }
}

.tickets-block {
    box-shadow: 0px 0px 10px rgba(1,1,1,.2);

    .tickets-header {
        background-image: url(/assets/img/events/tickets.png);
        font-family: BarlowBold;
        font-size: 30px;
        color: #ffffff;
        height: 105px;
        padding-left: 30px;
        display: flex;
        align-items: center;
    }

    .ticket-card {
        height: 90px;
        background: #edf0f7;
        margin-bottom: 2px;
        
        .ticket-wrapper {
            padding: 0px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: inherit;

            .content {
                display: flex;
                align-items: center;

                .title {
                    font-family: BarlowBold;
                    font-size: 27px;
                    color: #666666;
                    margin-right: 12px;
                    padding-bottom: 0px;
                }

                .date {
                    font-family: BarlowRegular;
                    font-size: 20px;
                    color: #666666;
                    margin-right: 12px;
                }
                
                .price {
                    font-family: BarlowBold;
                    font-size: 27px;
                    color: #bfd518;
                }
            }

            .buy-btn-block {
                
                .buy-btn {
                    font-family: BarlowRegular;
                    font-size: 18px;
                    color: #ecff2d;
                    padding: 16px 35px;
                    border-radius: 3px;
                    background: #000000;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .tickets-footer {
        background: #edf0f7;
        font-family: BarlowRegular;
        font-size: 15px;
        color: #666666;
        height: 55px;
        padding: 0px 30px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 961px) {
    .events-header {
        .filter-btns {
            width: 40%;
        }
    }

    .music-venues {
        .events-cards {
            .events-header {
                .filter-btns {
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
    .events-header {
        .filter-btn {
            width: 30%;
        }

        .filter-btns {
            width: 50%;
        }
    }

    .music-venues {
        .events-cards {
            .events-header {
                .filter-btn {
                    width: 30%;
                }
    
                .filter-btns {
                    width: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 100px) {
    .events-header {
        .filter-btn {
            width: 38%;
            font-size: 16px;
        }

        .filter-btns {
            width: 61%;
        }
    }

    .music-venues {
        .events-cards {
            .events-header {
                .filter-btn {
                    width: 38%;
                    font-size: 16px;
                }
    
                .filter-btns {
                    width: 61%;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) and (min-width: 100px) {
    .events-header {
        .filter-btn {
            width: 100%;
            margin-bottom: 5px;
        }

        .filter-btns {
            a {
                width: 100%;
                margin-bottom: 5px;
            }
            width: 100%;
        }
    }
    
    .music-venues {
        .events-cards {
            .events-header {
                .filter-btn {
                    width: 100%;
                    margin-bottom: 5px;
                }
    
                .filter-btns {
                    a {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                    width: 100%;
                }
            }
        }
    }
}