.explore-slider {
    text-align: center;
    color: #ffffff !important;
    font-size: 50px !important;
    font-family: 'OpenSans-Extrabold' !important;
    text-transform: uppercase !important;
}

.sell-btn {
    padding: 10px 30px;
    background: #e3fc1a;
    border-radius: 3px;
    color: #000000;
    font-family: BarlowBold;
}

.explore-cards {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .default-card {
        .default-wrapper {
            box-shadow: 2px 0px 10px rgba(1,1,1,.1);
            padding: 8px;
            position: relative;

            .content {
                left: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    color: #ffffff;
                    font-family: BarlowLight;
                }
            }
        }
    }

    .explore-card {
        padding: 0px 45px;

        .explore-wrapper {
            box-shadow: 0px 0px 15px rgba(0,0,0,.15);
            padding: 30px 0px;
            text-align: center;

            .image-header {
                margin-bottom: 10px;

                img {
                    width: 160px;
                    height: 160px;
                    line-height: 160px;
                    display: inline-block;
                    border-radius: 50%;
                }
            }

            .content {
                h2 {
                    font-size: 20px;
                    color: #000000;
                    margin-bottom: 6px;
                    text-transform: uppercase;
                    min-height: 39px;
                    line-height: 20px;
                    width: 70%;
                    text-align: center;
                    margin-left: 15%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) { 
    .explore-cards {
        .explore-card {
            padding: 0px 15px; 

            .explore-wrapper {
                .content {
                    h2 {
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}