.explore-slider {
    text-align: center;
    color: #ffffff !important;
    font-size: 50px !important;
    font-family: 'OpenSans-Extrabold' !important;
    text-transform: uppercase !important;
}

.sell-btn {
    padding: 10px 30px;
    background: #e3fc1a;
    border-radius: 2px;
    color: #000000;
    font-family: BarlowBold;

    &:hover {
        background: #acbe1a;
        color: #000000;
    }
}

.explore-cards {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .explore-header {
        h2 {
            display: inline;
            font-family: 'OpenSans-Extrabold';
            font-size: 33px;
            color: #333333;
        }

        .filter-bar {
            display: inline-flex;
            float: right;

            .filter-btn {
                font-size: 16px;
                display: inline-block;
                float: right;
                background: #000000;
                color: #e3fd1a;
                text-align: center;
                padding: 5.5px 22px;
                border-radius: 3px;

                &:hover {
                    color: #ffffff;
                }
            }

            span {
                position: relative;
                min-width: 200px;
                
                select {
                    outline: none;
                    width: 100%;
                    display: inline-block;
                    float: left;
                    font-size: 14px;
                    border: 1px solid #aaaaaa;
                    border-radius: 3px;
                    appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -webkit-appearance: none;
                    margin: 0;
                    padding: 5px;
                    height: 35px;
                    color: rgba(0,0,0,.8);
                    position: relative;
                    z-index: 1;
                    background: none;
                    cursor: pointer;
                }

                &:after {
                    position: absolute;
                    right: 14px;
                    content: "\f0d7";
                    font-family: 'FontAwesome';
                    display: inline-block;
                    font-size: 26px;
                    color: #aaaaaa;
                }
            }            
        }
    }

    .default-card {
        .default-wrapper {
            box-shadow: 2px 0px 10px rgba(1,1,1,.1);
            padding: 8px;
            position: relative;

            .content {
                left: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    color: #ffffff;
                    font-family: BarlowLight;
                }
            }
        }
    }

    .explore-card {
        padding: 0px 45px;

        .explore-wrapper {
            box-shadow: 0px 0px 15px rgba(0,0,0,.15);
            padding: 30px 0px;
            text-align: center;

            .image-header {
                margin-bottom: 10px;

                img {
                    width: 160px;
                    height: 160px;
                    line-height: 160px;
                    display: inline-block;
                    border-radius: 50%;
                }
            }

            .content {
                h2 {
                    font-size: 20px;
                    color: #000000;
                    margin-bottom: 6px;
                    text-transform: uppercase;
                    min-height: 39px;
                    line-height: 20px;
                    width: 70%;
                    text-align: center;
                    margin-left: 15%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) { 
    .explore-cards {
        .explore-card {
            padding: 0px 15px; 

            .explore-wrapper {
                .content {
                    h2 {
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}