.fashion-cards {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .fashion-header {
        margin-bottom: 2rem;

        h2 {
            font-family: 'OpenSans-Extrabold';
            font-size: 33px;
            color: #333333;
        }
    }

    .default-card {
        .default-wrapper {
            box-shadow: 0px 0px 10px rgba(1, 1, 1, .5);
            padding: 8px;
            position: relative;
            cursor: pointer;

            .content {
                left: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    color: #ffffff;
                    text-align: center;
                    font-size: 25px;
                    width: 80%;
                }
            }
        }
    }
}

.product-cards {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .product-header {
        h2 {
            display: inline-block;
            color: #000000;
            font-size: 16px;
            margin-top: 11px;
            text-transform: uppercase;
        }

        span {
            position: relative;
            display: inline-block;
            
            select {
                border: none;
                text-transform: uppercase;
                outline: none;
                width: 100%;
                display: inline-block;
                font-size: 16px;
                appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -webkit-appearance: none;
                margin: 0;
                padding: 5px;
                height: 35px;
                color: rgba(0, 0, 0, 1);
                position: relative;
                z-index: 1;
                background: none;
                cursor: pointer;
                padding-right: 35px;
            }

            &:after {
                position: absolute;
                right: 14px;
                content: "\F0D7";
                font-family: 'FontAwesome';
                display: inline-block;
                font-size: 22px;
                color: #545454;
                top: 2px;
            }
        }      
    }

    .product-card {
        padding: 35px;

        .image-header {
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #cccccc;

            img {
                width: auto;
                height: auto;
            }
        }

        .product-content {
            padding-top: 10px;
            color: #000000;

            .title {
                font-size: 18px;
                font-family: 'OpenSans-Light';
            }

            .description {
                font-family: 'OpenSans-Light';
                font-size: 10px;
                padding-bottom: 10px;
            }
        }

        .product-footer {
            .price {
                color: #000000;
                font-family: 'OpenSans-Light';
                font-size: 18px;
            }

            .read-more-link {
                display: inline-block;
                float: right;
                color: #000000;
                font-size: 15px;
                font-family: 'OpenSans-Light';
            }
        }
    }
}

.load-more {
    margin-bottom: 30px;

    a {
        width: 170px;
        display: inline-block;
        text-align: center;
        background: #191919;
        border: 1px solid #191919;
        color: #e4ff15;
        font-size: 17px;
        padding: 10px 0px;
        text-transform: uppercase;

        &:hover {
            border: 1px solid #191919;
            color: #191919;
            background: #e4ff15;
        }
    }
}

.fashion-tabs {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .nav {
        .nav-link {
            width: 180px;
            text-align: center;
            background: #fff;
            color: #000000;
            font-size: 25px;
            padding: 10px 0px;
            border: 1px solid #000000;
            font-weight: bold;

            &.active {
                color: #e4ff15;
                background: #191919;
            }
        }
    }

    .fashion-tab-card {
        padding: 30px;

        .fashion-tab-wrapper {
            padding: 8px;
            box-shadow: 0px 0px 10px rgba(1,1,1, .5);
            cursor: pointer;   
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) { 
    .fashion-cards {
        .default-card {
            .default-wrapper {
                .content {
                    h2 {
                        text-overflow: ellipsis;
                        max-height: 70%;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
    .product-cards {
        .product-card {
            .product-content {
                .title {
                    font-size: 14px;
                }
            }
    
            .product-footer {
                .price {
                    font-size: 14px;
                }
            }
        }
    }
}