.marketplace-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: #1d1d1d;
        font-size: 16px;
        text-transform: uppercase;
        padding-bottom: 5px;
        margin-left: 3%;
        border-bottom: 1px solid transparent;
        text-align: center;

        &:hover {
            color: #000000;
            border-bottom: 1px solid #000000;
        }

        &.active {
            font-weight: bolder;
        }
    }
}