.taste-read-more {

    &:hover {
        border-color: #e4ff15;
        background: #ffffff;
        color: #000000;
    }
}


.taste-page {
    .custom-section {
        .section-content {
            .taste-card {
                .taste-wrapper {
                    .image-header {
                        .text {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .banner-section {
        max-width: 1165px;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;

        .banner-card {
            position: relative;
            max-height: 300px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .mask {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #00000048;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;

                h2 {
                    font-family: BarlowBold;
                    font-size: 50px;
                    word-break: break-all;
                }

                span {
                    font-family: Barlow;
                    font-size: 30px;
                    word-break: break-all;
                }
            }
        }
    }
    
    /*.m-upcoming-event-card .m-upcoming-event-wrapper .content .footer .date .text span:before {
        top: -10px;
    }*/
}

.chefs-h2 {
    font-size: 17px;
    font-family: BarlowL;
}

.chefs-span {
    color: #8e8e8e;
}

.chefs-search {
    padding: 3px 10px;
    font-family: Barlow;
    color: black;
    width: 100%;
}

.chefs-search-icon {
    position: absolute;
    top: 0;
    right: 6%;
    bottom: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.chef-flex {
    display: flex;
    align-items: center;
}

.mixology-page {
    max-width: 1165px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .left-side {
        .mixology-card {
            padding: 10px 10px;

            .mixology-wrapper {
                box-shadow: 0px 0px 10px rgba(1, 1, 1, .5);
                background: #f5f5f5;

                .content {
                    font-family: Barlow;
                    padding: 10px 20px;
                    
                    .pre-desc {
                        font-size: 18px;
                    }

                    .mixology-title {
                        color: #c3060d;
                        font-size: 24px;
                    }

                    .text {
                        font-size: 15px;
                    }
                }

                .date {
                    display: inline-flex;
                    justify-content: center;
                    padding: 0px 20px;

                    .text {
                        color: #000000;
                        font-size: 19px;
                        font-family: 'DINCond-Medium';
                        position: relative;
                        width: 40px;
                        padding-top: 0%;

                        span {
                            display: inline-block;
                            font-size: 27px;
                            color: #c1060f;
                            font-family: 'DINCond-Bold';
                            position: absolute;
                            bottom: -26px;
                            padding-top: 6px;
                            right: -5px;

                            &:before {
                                width: 1px;
                                height: 26px;
                                background: #c1060f;
                                content: '';
                                position: absolute;
                                top: 3px;
                                left: 0px;
                                transform: rotate(50deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .right-side {
        .desc {
            .desc-title {
                font-family: BarlowBold;
            }
            
            .desc-text {
                font-family: Barlow;
            }
        }

        .popular-posts {
            .popular-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .popular-title {
                    font-family: BarlowBold;
                    font-size: 17px;
                }

                .popular-text {
                    font-size: 15px;
                }
            }
        }
    }
}

.taste-gallery-card {
    .taste-gallery-text {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.taste-contact-page {
    max-width: 1165px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    .taste-contact-input {
        width: 100%;
        background: #f6f6f6;
        border: none;
        padding: 10px;
        margin-top: 10px;

        &::placeholder {
            color: #000000;
        }
    }

    .taste-contact-textarea {
        width: 100%;
        background: #f6f6f6;
        border: none;
        padding: 10px;
        margin-top: 10px;
        min-height: 150px;

        &::placeholder {
            color: #000000;
        }
    }
}

.taste-bars-btns {
    max-width: 1165px;
    margin: 0 auto;

    .links {
        justify-content: center;
        align-items: center;

        .taste-bars-a {
            font-family: BarlowMedium;
            font-size: 25px;
            color: #333333;

            &:hover {
                color: #000000;
            }
        }
    }
}

.taste-bars-map {
    position: relative;

    iframe {
        border: unset;
        width: 100%;
        height: 335px;
    }

    .marker {
        position: absolute;
        z-index: 100;
        height: auto;
        width: auto;
        top: 30%;
        right: 41%;
    }
}

.taste-bars-cards {
    max-width: 1165px;
    margin: 0 auto;

    .cards-header-text {
        font-family: BarlowBold;
        font-size: 28px;
    }

    .taste-bars-card {
        .bars-wrapper {
            padding: 10px;
            box-shadow: 0px 0px 10px rgba(1, 1, 1, .2);
            height: 240px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                width: 100%;
                z-index: 1;                
            }

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .bars-btn {
                    font-family: BarlowLight;
                    font-size: 35px;
                    color: #ffffff;
                    z-index: 2;
                    transition: all .5s;
                    cursor: pointer;

                    &:hover {
                        color: #a7a7a7;
                    }
                }
            }

        }
    }

    .taste-bars-big-card {
        .bars-wrapper {
            box-shadow: 0px 0px 10px rgba(1, 1, 1, .2);
            height: 165px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                width: 100%;
                z-index: 1;                
            }

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .bars-btn {
                    font-family: BarlowSemiBold;
                    font-size: 23px;
                    color: #000000;
                    background:rgba(255, 255, 255, 1);
                    padding: 17px 31px;
                    z-index: 2;
                    transition: all .5s;
                    cursor: pointer;

                    &:hover {
                        background:rgba(255, 255, 255, .8);
                    }
                }
            }
        }
    }
}

.reserv-title {
    font-family: BarlowRegular;
    font-size: 18px;
    color: #747474;
}

.reserv-text {
    font-family: MyriadProRegular;
    font-size: 22px;
    color: #000000;

    img {
        width: auto;
    }
}

.reserv-icon {
    i {
        font-size: 30px;
    }
}

.reserve-card {
    width: 370px;

    .reserve-wrapper {
        box-shadow: 0px 0px 10px rgba(1, 1, 1, .2);
        padding: 10px;
    }
}